nav {
  background-color: #3f51b5;
  padding: 1rem;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.spacer {
  flex: 1 1 auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
