<mat-toolbar color="primary">
    <span>Welcome to EHR-ED</span>
    <span class="spacer"></span>
    <ul class="nav-list">
        <!-- <li><a mat-button routerLink="/home">Home</a></li> -->
        <!-- <li><a mat-button routerLink="/patient-demographics">Patient Demographics</a></li>
        <!-- <li><a mat-button routerLink="/patient-dashboard">Patient Dashboard</a></li> -->
        <!-- <li><a mat-button routerLink="/sample">Sample</a></li> --> 
        <li><a mat-button routerLink="/track-record">Tracking Records</a></li>
        <li><a mat-button routerLink="/practitioner-dashboard">Practitioner Dashboard</a></li>
    </ul>
    <!-- <a mat-button routerLink="/patient-demographics">Patient Demographics</a> &nbsp;&nbsp;&nbsp;
    <a mat-button routerLink="/patient-dashboard">Patient Dashboard</a>  &nbsp;&nbsp;
    <a mat-button routerLink="/sample">Sample</a>&nbsp;
    <a mat-button routerLink="/track-record">Tracking Records</a>&nbsp; -->
    <!-- <a mat-button routerLink="/patient-portal">Patient Portal</a> &nbsp; -->
</mat-toolbar>


